.button {
  width: 320px;
  font-size: 16px;
  padding: 12px;
  cursor: pointer;

  border: 1px solid white;
  color: white;
  background-color: inherit;
  border-radius: 30px;
  transition-duration: 0.5s;
  white-space: nowrap;
  &.is_disabled {
    cursor: auto;
    opacity: .5;
  }
}