#container-properties-picking {
  /*padding-left: 120px;*/
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.fortitle-container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;

  .content_generator {
    display: grid;

    .font {
      display: inline-block;
      font-family: "Gilroy-Bold", sans-serif;
      color: rgb(90, 124, 55);
    }

    .image {
      width: 780px;
      justify-self: center;
      border-radius: 20px;
      box-shadow: 0 0 47.31px 9.69px rgba(143, 188, 98, .21);
    }

    .title {
      position: relative;
      margin-bottom: 35px;
      font-size: 24px;
      font-family: "Gilroy-Bold", sans-serif;
      color: rgb(90, 124, 55);
      max-width: 100%;
    }

    .content {
      margin-bottom: 25px;
      font-size: 16px;
      font-family: "Gilroy-Regular", sans-serif;
      color: rgb(46, 50, 42);
      line-height: 1.375;
      max-width: 100%;
    }

    .text-header {
      padding-bottom: 70px;
    }

    .head-list {
      $circle_size: 6px;
      $list_left_space: 20px;

      .item-list {
        position: relative;
        margin-bottom: 20px;
        padding-left: calc($list_left_space + $circle_size);

        &::before {
          content: '';
          position: absolute;
          left: $list_left_space / 2;
          top: $list_left_space / 2;
          @include width-height($circle_size);
          border-radius: 50%;
          background-color: rgb(128, 165, 6);
        }
      }
    }
  }

  .tea-icon {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .75s;
    fill: rgb(46, 50, 42);
    animation: tea-icon-animation 2s infinite linear;
  }

  .tea-icon:hover {
    fill: rgb(51, 94, 7);
    transition: .75s;
  }
}

#right-menu {
  /*display: none;*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 0;
  z-index: -1;
  flex-direction: column;
  width: 230px;
  top: 0;
  right: 0;
  height: 100%;
  transition: 1s;
}

#right-menu.fixed {
  position: fixed;
  /*display: flex;*/
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 99;
}

#right-menu-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  width: 100%;
  max-width: 300px;
  border-radius: 30px;
}

#right-menu-container #x-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 15px;
  top: 15px;
  fill: rgba(78, 100, 12, 0.685);
  cursor: pointer;
}

#right-menu.bottom {
  align-self: end;
}

@keyframes tea-icon-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

.right-menu_item {
  font-size: 16px;
  font-family: "Gilroy-Regular", sans-serif;
  color: rgb(46, 50, 42);

  text-align: center;
  margin: 25px 20px;
  cursor: pointer;

  transition-delay: .1s;
  transition-timing-function: ease;
  transition-duration: .3s;
}

.right-menu_item:hover {
  color: rgb(128, 165, 6);
  transition-delay: .1s;
  transition-timing-function: ease;
  transition-duration: .3s;
}

.right-menu_item.font {
  font-family: "Gilroy-Bold", sans-serif;
  color: rgb(128, 165, 6);
}

.right-menu_item.bottom-bar {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -7px;
  left: 0;
  background-color: #5a7c37;
}

//.fortitle-container .content_generator.none {
//  display: none;
//}