.password_valid_conditions {
  display: none;
  margin-top: 20px;
  padding: 5px;
  box-shadow: 0 0 23px 2px rgb(31 168 37 / 13%);
  border: 1px solid rgba(143, 188, 98, 0.7);
  opacity: 0;
  &.show {
    display: block;
  }
  &.timeout {
    opacity: 1;
  }
  .conditions_title {
    margin: 8px 0;
    @include WorldTitleFontSize(18px);
    text-align: center;
  }
  .conditions_container {
    .conditions_item {
      padding: 5px 0;
      padding-left: 36px;
      position: relative;
      .condition_text {
        color: lightcoral;
        @include WorldTextFontSize(14px, 12px, 12px);
      }
      .condition_icon {
        display: flex;
        .check_icon, .x_icon {
          @include width-height(14px);
          position: absolute;
          top: calc(50% - 7px);
          left: 10px;
        }
        .check_icon {
          fill: $colorLightGreen;
        }
        .x_icon {
          fill: lightcoral;
        }
      }

      &.is_valid .condition_text {
        color: $colorLightGreen;
      }
    }
  }
}