$active_bkg_color: white;

.adaptive_menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .adaptive_menu {
    display: block;
    position: fixed;
    width: 240px;
    height: 100vh;
    border-right: rgb(130, 155, 100);
    background-color: $active_bkg_color;
    padding: 6px;
    transition: 1s;
    z-index: 2;
    left: -203px;
    top: 0;
    box-shadow: 0 0 23px 2px rgba(31, 168, 37, 0.13);

    .burger_menu {
      @include flex_justify(flex, space-between);
      margin-bottom: 2px;

      .burger_title {
        //color: white;
      }
    }

    .menu_content {
      @include flex_justify();
      flex-direction: column;

      .menu_item {
        @include flex_justify(flex, space-between);
        @include padding_top-bottom(6px);
        @include WorldFontSizeColor();

        .link_text {

        }

        .link_icon {
          max-width: 25px;
          width: 100%;

          .adaptive_menu_icon {
            width: 100%;
            fill: rgba(90, 124, 55, .6);
            transition: 1s;
          }
        }

        &.active {
          .link_text {
            color: rgb(90, 124, 55);
          }

          .link_icon {
            .adaptive_menu_icon {
              fill: rgb(90, 124, 55);
              transition: 1s;
            }
          }
        }
      }
    }

    &.active {
      background-color: rgba($active_bkg_color, .95);
      transition: 1s;
      left: 0;
    }
  }
}

.adaptive_menu_fon {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 1s;

  &.active {
    display: block;
    transition: 1s;
  }
}