.footer {
  @include padding_top-bottom(17px);

  .info_container {
    @include flex_justify-align();
    @include FontThin();
    @include WorldTextColor(rgb(130, 155, 100));

    .info_item {
      .description {
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid rgb(130, 155, 100);
        @include WorldTextFontSize(12px);
        letter-spacing: 0.03rem;
      }

      &:first-child .description {
        margin-left: 0;
        padding-left: 0;
        border-left: 0;
      }
    }
  }

  &.image_fon {
    .info_container {
      @include WorldTextColor(white);

      .info_item .description {
        border-left-color: white;
      }
    }
  }
}

// 1439 - 1200
@media screen and (max-width: 1439px) {
}

// 1199 - 1024
@media screen and (max-width: 1199px) {
}

// 1023 - 768
@media screen and (max-width: 1023px) {
}

// 767 - 425
@media screen and (max-width: 767px) {
  .footer {
    .info_container {
      display: flex;
      flex-direction: column;

      .info_item {
        .description {
          @include margin-padding(0);
          border: 0;
        }
      }
    }
  }
}

// 424 - 375
@media screen and (max-width: 424px) {
}

//374 - 319
@media screen and (max-width: 374px) {
}

//319 - 0
@media screen and (max-width: 319px) {
}