.header_fon {
  &.isFixed {
    position: fixed;
    width: 100%;
  }
}

.header {
  @include padding_top-bottom(17px);

  &__menu {
    @include flex_justify-align(flex, space-between, center);
    flex-wrap: wrap;

    .logo_item {
      .logo {
        .logo-img {
          max-width: 120px;
        }
      }
    }

    .menu_items {
      .menu_item {
        margin-left: 38px;
        text-decoration: none;
        @include WorldTextFontSize();
        @include FontRegular();
        @include WorldTextColor();

        &:first-child {
          margin-left: 0;
        }

        &.active {
          color: $colorDarkYellowGreen;
        }
      }

    }

    .action_container {
      @include flex_align();
      @include margin_top-bottom(12px);
      margin-left: 12px;

      .language {
        position: relative;
        cursor: pointer;
        $radius: 8px;

        .current_lang {
          @include flex_justify-align();
          padding: 2px 8px;
          border: 1px solid $colorLightYellowGreen;
          color: $colorDarkYellowGreen;
          transition: .3s;
          //background-color: rgba($colorLightYellowGreen, .1);
          &:hover {
            transition: .3s;
            background-color: $colorLightYellowGreen;
            color: white;
          }

          &.active {
            border-top-left-radius: $radius;
            border-top-right-radius: $radius;
            border-bottom: 0;
          }
        }

        .change_lang {
          position: absolute;
          top: calc(100% + -1px);
          width: 100%;
          text-align: center;
          border: 1px solid rgba($colorDarkYellowGreen, .5);
          transition: .3s;
          border-top: 0;
          border-bottom-left-radius: $radius;
          border-bottom-right-radius: $radius;

          .lng_item {
            transition: .3s;
            padding: 2px 0;
            color: $colorDarkYellowGreen;

            &:hover {
              transition: .3s;
              background-color: $colorLightYellowGreen;
              color: white;
            }
          }
        }
      }

      .user {
        @include flex_justify-align();
        margin-left: 20px;

        .user_auth_container {
          @include flex_align();
          grid-gap: 20px;

          .profile {
            .profile_img {
              @include width-height(40px);
              max-width: 40px;
              border-radius: 50%;
              @include shadow_card();
            }
          }

          .auth_action {
            margin-left: 15px;
            @include classic_button($colorLightYellowGreen, $colorDarkYellowGreen, $colorLightYellowGreen, white);

            &:first-child {
              margin-left: 0;
            }
          }

          .user_logout {
            margin-left: 15px;
            @include classic_button($colorLightYellowGreen, $colorDarkYellowGreen, $colorLightYellowGreen, white);
          }
        }
      }
    }
  }

  &.image_fon {
    $hoverButtons: rgba(0, 0, 0, 0.1);

    .header__menu {
      .menu_items .menu_item {
        color: white;
      }

      .action_container .language {
        .current_lang {
          border-color: white;
          color: white;

          &:hover {
            background-color: $hoverButtons;
          }
        }

        .change_lang {
          border-color: white;
          color: white;

          .lng_item {
            color: white;

            &:hover {
              background-color: $hoverButtons;
            }
          }
        }
      }

      .user .user_auth_container .auth_action {
        border-color: white;
        color: white;

        &:hover {
          background-color: $hoverButtons;
        }
      }
    }
  }
}

//1199-1024
@media screen and (max-width: 1199px) {
}

//1023-768
@media screen and (max-width: 1023px) {
  .header {
    &__menu {

    }
  }
  .header__menu {
    .logo_item {
      width: 100%;
      text-align: center;
    }

    .menu_items {
      width: 100%;
      @include margin_top-bottom(15px);
      text-align: center;
    }

    .action_container {
      width: 100%;
      justify-content: center;
    }
  }

}

//767-425
@media screen and (max-width: 767px) {
  .header {
    &__menu {
      .logo_item {
        @include flex_justify-align(flex, space-between);
        width: auto;
      }

      .menu_items {
        display: none;
        @include margin_top-bottom(0);
      }

      .action_container {
        width: auto;
        //width: 100%;
        //justify-content: center;
        //margin-top: 12px;
      }
    }
  }
}

//424-375
@media screen and (max-width: 424px) {
  .header {
    &__menu {
      justify-content: center;
    }
  }
}

//374-320
@media screen and (max-width: 374px) {
}

//319-0
@media screen and (max-width: 319px) {
}