.header {
  @include padding_top-bottom(17px);
  &__menu {
    @include flex_justify-align(flex,space-between,center);
    flex-wrap: wrap;

    .logo_item {
      .logo {
        .logo-img {
          max-width: 120px;
        }
      }
    }

    .menu_items {
      .menu_item {
        margin-left: 38px;
        text-decoration: none;
        @include WorldTextFontSize();
        @include FontRegular();
        @include WorldTextColor();

        &:first-child {
          margin-left: 0;
        }
        &.active {
          color: $colorDarkYellowGreen;
        }
      }

    }

    .action_container {
      @include flex_align();

      .language {
        position: relative;
        cursor: pointer;
        $radius: 8px;

        .current_lang {
          @include flex_justify-align();
          padding: 2px 8px;
          border: 1px solid $colorLightYellowGreen;
          color: $colorDarkYellowGreen;
          transition: .3s;
          //background-color: rgba($colorLightYellowGreen, .1);
          &:hover {
            transition: .3s;
            background-color: $colorLightYellowGreen;
            color: white;
          }
          &.active {
            border-top-left-radius: $radius;
            border-top-right-radius: $radius;
            border-bottom: 0;
          }
        }

        .change_lang {
          position: absolute;
          top: calc(100% + -1px);
          width: 100%;
          text-align: center;
          border: 1px solid rgba($colorDarkYellowGreen, .5);
          transition: .3s;
          border-top: 0;
          border-bottom-left-radius: $radius;
          border-bottom-right-radius: $radius;
          .lng_item {
            transition: .3s;
            padding: 2px 0;
            color: $colorDarkYellowGreen;

            &:hover {
              transition: .3s;
              background-color: $colorLightYellowGreen;
              color: white;
            }
          }
        }
      }

      .user {
        @include flex_justify-align();
        margin-left: 20px;
        .user_auth_container {
          @include flex_align();
          .profile {
            .profile_img {
              @include width-height(60px);
              max-width: 60px;
              border-radius: 50%;
              @include shadow_card();
            }
          }
          .auth_action {
            margin-left: 15px;
            @include classic_button($colorLightYellowGreen, $colorDarkYellowGreen, $colorLightYellowGreen, white);

            &:first-child {
              margin-left: 0;
            }
          }

          .user_logout {
            margin-left: 15px;
            @include classic_button($colorLightYellowGreen, $colorDarkYellowGreen, $colorLightYellowGreen, white);
          }
        }
      }
    }
  }
}

//1199-1024
@media screen and (max-width: 1199px) {
}

//1023-768
@media screen and (max-width: 1023px) {
}

//767-425
@media screen and (max-width: 767px) {
  .header {
    &__menu {
      .logo_item {
        @include flex_justify-align(flex, space-between);
        //width: 100%;
      }

      .menu_items {
        display: none;
      }

      .action_container {
        //width: 100%;
        //justify-content: center;
        //margin-top: 12px;
      }
    }
  }
}

//424-375
@media screen and (max-width: 424px) {
}

//374-320
@media screen and (max-width: 374px) {
}

//319-0
@media screen and (max-width: 319px) {
}