.not_found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  &__container {
    text-align: center;
    padding: 50px;
    background: rgba(255, 255, 255, 0.94);
    border-radius: 12px;

    .error_status {
      font-size: 48px;
      font-weight: bold;
    }

    .error_message {
      font-size: 18px;

      .error_link {
        font-weight: bold;
      }
    }
  }
}