*, body, button, nav, p, a, section, li, ul, ol, input, img h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font-weight: normal;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}

a,
button,
input,
img {
  text-decoration: none;
  outline: none;
  color: black;

  &:hover {
    color: initial;
  }
}

#admin {
  background-color: var(--theme-mode-bg);
  @include WorldFontSizeColor();
}

.svg {
  fill: var(--svg-color);

  & * {
    stroke: var(--svg-color);
  }
}