$colorBackground: #F5F8FA;
$header_utils_item_svg: #A1A5B7;
$header_menu_item_text_hover: #009ef7;
$header_menu_item_bcg_hover: #F4F6FA;

//loaders
$color_full-screen-loader: black;

$color_loader_x_1: white;
$color_loader_x_2: white;

$color_loader_puls-in-out_shadow: white;
$color_loader_puls-in-out_circle: white;

$color_loader_dlc: white;