.auth_user {
  @include flex_justify-align();
  flex-direction: column;
  padding: 100px 0;

  .auth_login {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    @include WorldTitleColor();
    @include FontThin($Font_Title_Thin);
  }

  .auth_form {
    width: 400px;
    display: flex;
    flex-direction: column;

    .inputs_container {
      margin: 20px 0;
    }

    .auth_submit {
    }

    .sign_up {
      @include flex_justify-align();
      padding-top: 15px;
      &_text {
        @include WorldFontSizeColor();
      }
      &_link {
        @include WorldFontSizeColor('green_link');
        text-decoration: underline;
      }
    }

    .forgot_password {
      @include flex_align();
      padding-bottom: 14px;
      &_text {
        text-decoration: underline;
        @include WorldFontSizeColor('description');
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .auth_user {
    padding: 100px 1rem;

    .auth_form {
      width: 100%;
    }
  }
}