.button {
  width: 320px;
  font-size: 16px;
  padding: 12px;
  cursor: pointer;

  border: 1px solid white;
  color: white;
  background-color: inherit;
  border-radius: 30px;
  transition-duration: 0.5s;
  white-space: nowrap;
  &.is_disabled {
    cursor: auto;
    opacity: .5;
  }
}

.continue_button {
  width: 300px;
  padding: 15px 20px;
  border-radius: 33.5px;
}

.auth_button {
  width: 50%;
  min-width: 250px;
  margin: 10px auto;
  padding: 8px;
  border-radius: 33.5px;
  cursor: pointer;

  font-size: 22px;
  @include FontRegular();

  background-image: -webkit-linear-gradient(90deg, rgb(206, 247, 72) 0%, rgb(175, 218, 85) 52%, rgb(143, 188, 98) 100%);
  box-shadow: 0 0 22.5px 2.5px rgb(143 188 98 / 21%);
  color: white;
  transition: .6s;

  &.is_disabled {
    color: white;
  }
}

.menu_button {
  @include WorldFontSizeColor('text');
  padding: 10px 13px;
  cursor: pointer;
  transition: .25s;

  &:hover, &.active {
    transition: .25s;
    color: $header_menu_item_text_hover;
    background-color: var(--theme-mode-buttons-hover-bg);
  }
}

.action_button {
  $bkg: var(--theme-mode-buttons-hover-bg);
  $bkg-opacity: var(--theme-mode-text-color-opacity);
  $text: var(--theme-mode-text-color);

  @include classic_button(
      $bkg,
      $text,
      $bkg,
      $text,
      'true',
      $bkg-opacity,
      .5
  );
}