
.products_active_color {
  background-color: rgb(25, 135, 84);
}

.products_pending_color {
  background-color: rgb(13, 202, 240);
}

.products_disapproved_color {
  background-color: rgb(227, 172, 18);
}

.products_expired_color {
  background-color: rgb(220, 53, 69);
}

.products_total_color {
  background-color: #573a06;
}

.users_ceo_color {
  background-color: rgb(173, 50, 39);
}

.users_admin_color {
  background-color: rgb(135, 39, 173);
}

.users_manager_color {
  background-color: rgb(173, 126, 39);
}

.users_seller_color {
  background-color: rgb(135, 173, 39);
}

.users_operator_color {
  background-color: rgb(39, 157, 173);
}

.users_client_color {
  background-color: rgb(39, 173, 148);
}

.users_total_color {
  background-color: #573a06;
}