// loader_x

@keyframes lx_rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes lx_rotateCcw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes lx_spin {
  0%,
  100% {
    box-shadow: .2em 0 0 0 currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0 currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0 -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

// loader_puls-in-out

@keyframes lpio_pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem $color_loader_puls-in-out_circle;
    opacity: 1;
  }
  50%, 100% {
    box-shadow: inset 0 0 0 0 $color_loader_puls-in-out_circle;
    opacity: 0;
  }
}

@keyframes lpio_pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 $color_loader_puls-in-out_circle;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem $color_loader_puls-in-out_circle;
    opacity: 1;
  }
}

// loader_double-rays

@keyframes ldr_rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}