*, body, button, nav, p, a, section, li, ul, ol, input, img h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font-weight: normal;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}

a,
button,
input,
img {
  text-decoration: none;
  outline: none;
  color: black;
  &:hover {
    color: initial;
  }
}

body {
  @include FontRegular();
  background-color: white;
  //scrollbar-width: none !important;
  //scrollbar-color: $blue inherit !important;
}
//body::-webkit-scrollbar, body::-webkit-scrollbar-button {
//  width: 6.5px;
//}
//body::-webkit-scrollbar-track, body::-webkit-scrollbar-track-piece  {
//  background-color: inherit;
//  display: none;
//}
//body::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb:vertical  {
//  background-color: $blue;
//  border-radius: 30px;
//}


@media screen and (max-width: 600px) {
  #client {
    padding-left: 38px;
  }
}