$colorLightGreen: rgb(143, 188, 98);
$colorLightYellowGreen: rgb(128, 165, 6);
$colorDarkYellowGreen: rgb(90, 124, 55);
$colorGreen: rgb(130, 155, 100);
$colorError: red;


//loaders
$color_full-screen-loader: black;

$color_loader_x_1: $colorLightGreen;
$color_loader_x_2: $colorLightGreen;

$color_loader_puls-in-out_shadow: $colorLightGreen;
$color_loader_puls-in-out_circle: $colorLightGreen;
